

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	width: 70%;
	margin: 0 auto;
}
html {
height: 100px;
display: flex;
}















